<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{> css}}
	<title>Home Page</title>
</head>

<body>
	{{> navbar}}

	<div class="text-xs text-red-500 px-5 pt-5">
		{{message}}
	</div>
	<form class="flex" action="/" method="GET">
		<input name="search" class="mx-auto bg-gray-200 rounded-sm px-4 py-2 outline-none" placeholder="Search"
			type="text" />
	</form>
	<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 max-w-5xl p-5 gap-5 mx-auto">
		{{#each images}}
		<a href='/images/{{this.id}}'>
			<img src={{this.path}} alt="fake-img" />
			<p class="px-2 font-semibold">{{this.name}}</p>
		</a>
		{{/each}}
	</div>
	{{> footer}}
</body>

</html>