<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{> css}}
	<title>Document</title>
</head>

<body>
	{{> navbar}}
	<div class="flex max-w-4xl mx-auto justify-content-center place-items-center mt-10">
		<form action="/upload" method="POST" enctype="multipart/form-data">
			<input name="myImage" type="file">
			<button type="submit">Upload</button>
		</form>
	</div>
</body>

</html>